.posts {
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
}

.posts__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 629px) {
  .posts {
    padding: 20px 0;
  }
  .posts__grid {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
